.video-scroll-wrapper {
  display: flex;
  overflow-x: auto;
  gap: 16px;
  padding-bottom: 8px;

  .video-card {
    flex: 0 0 260px; // фиксированная ширина карточки

    img {
      width: 100%;
      border-radius: 12px;
      display: block;
    }
  }
}


.glass-play-btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    display: inline-flex;
    align-items: center;
    gap: 10px;

    padding: 12px 22px;
    border-radius: 16px;
    font-size: 16px;
    font-weight: 500;

    width: 200px;
    height: 70px;

    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(14px);
    -webkit-backdrop-filter: blur(14px);

    border: 1px solid rgba(255, 255, 255, 0.2);

    color: white;
    cursor: pointer;

    transition: all 0.2s ease;
}

/* Hover */
.glass-play-btn:hover {
    background: rgba(255, 255, 255, 0.15);
    border-color: rgba(255, 255, 255, 0.3);
}

/* Active */
.glass-play-btn:active {
    background: rgba(255, 255, 255, 0.2);
}



/* НЕАКТИВНАЯ кнопка */
.nav-link {
    background-color: #000;
    color: #fff;
    border-radius: 8px;
    margin-right: 8px;
}

/* АКТИВНАЯ кнопка */
.nav-pills .nav-link.active {
    background-color: #fff;
    color: #000;
    border-color: #fff;
}

/* Чтобы не прыгал размер при активации */
.nav-link,
.nav-link.active {
    transition: all 0.2s ease;
}

.nav-link:hover {
    background-color: #222;
    color: #fff;
}

.nav-link.active:hover {
    background-color: #f5f5f5;
}