.footer-main {
  border-top: 1px solid $epsilon;
  padding: 20px 0 40px;
  margin-top: 150px;
  color: $gama;
  font-weight: 300;
  text-align: center;
  position: relative;

  &:before {
    display: block;
    width: 7px;
    height: 7px;
    border: 1px solid $epsilon;
    position: absolute;
    top: -5px;
    left: 50%;
    transform: translateX(-50%);
    background: #fff;
    box-shadow: 0 0 0 5px #fff;
    border-radius: 3px;
  }

  .horizontal-list {
    margin-bottom: 20px;

    ul {
      list-style: none;
      margin: 0;
      padding: 0;

      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      gap: 12px;

      @media (min-width: 768px) {
        flex-direction: row;
      }
    }

    li a {
      color: $gama;
      text-decoration: none;
      border-bottom: 1px solid transparent;
      padding-bottom: 2px;
      transition: 0.3s ease;

      &:hover {
        border-color: $gama;
        opacity: 0.75;
      }
    }
  }

  > div:last-child {
    color: $gama;
    margin-top: 10px;
  }
}
