.responsive-padding {
  padding: 70px 0;

  @media (max-width: 767px) {
    padding: 20px 0;
  }
}

.display-7 {
  font-size: 1.75rem;
  font-weight: 300;
  line-height: 1.2;

  @media (min-width: 768px) {
    font-size: 1.75rem;
  }

  @media (min-width: 1200px) {
    font-size: 2rem;
  }
}
